<div class="margin-y container">
  <div class="row">
    <main class="col-md-10 offset-md-1">
      <h2>投稿一覧</h2>
      <div class="margin-y">
      <%= render "public/posts/post_item", model: @posts, colsize: "3" %>
      </div>
    </main>
  </div>
</div>