<div class="container fit-content">
  <div class="my-5">
    <h2>新規投稿</h2>
    <%= form_with model: @post, url: posts_path, id: "post-form" do |f| %>
    <%= render "layouts/form_errors", model: @post %>
    <div class="margin-y mx-auto">
      <div class="field">
        <%= render "layouts/post_form", f: f %>
      </div>
    </div>
    <div class="actions text-center padding-sm-y">
      <%= f.submit "投稿", class: "btn btn-success padding-x", id: "post-submit" %>
    </div>
    <% end %>
  </div>
</div>

<script>
var filename = ""
function cropImage() {
  $('.js-croppie').croppie('result', {type: 'blob'}).then(function(data) {
    const file = new File([data], filename, {type: "image/png"})

    const container = new DataTransfer()
    container.items.add(file)

    document.querySelector('#post_post_image').files = container.files
    document.querySelector('#post_post_image').dispatchEvent(new Event('change', {'bubbles': true}))
  })
}

$(function() {
  $('#post_post_image').change(function(e) {
    const reader = new FileReader();
    const file = e.target.files[0];
    filename = file.name;
    reader.onload = function() {
      $('#crop-box').show()
      $('.js-croppie').croppie('destroy')
      const elm = $('.js-croppie').croppie({
        viewport: {
          width: 200,
          height: 200
        }
      })
      elm.croppie('bind', {
          url: reader.result,
          points: [0, 0, 200, 200],
      })
    }
    reader.readAsDataURL(file)
  })

  $('#js-croppie-result').click(function() {
    cropImage();
  })

  $('#post-form').submit(function(e) {
    console.log(e)
    // e.preventDefault();
    cropImage();
    // $('#post-form').submit();
    // Rails.fire($("#post-form")[0], "submit");
  })
})
</script>