<div class="container fit-content">
  <div class="my-5">
    <h2>新規投稿</h2>
    <%= form_with model: @post, url: posts_path do |f| %>
    <%= render "layouts/form_errors", model: @post %>
    <%= render "public/posts/post_form", f: f %>
    <div class="actions text-center padding-sm-y">
      <%= f.submit "投稿", class: "btn btn-success padding-x" %>
    </div>
    <% end %>
  </div>
</div>