<div id="puzzle"></div>
<p>a</p>

<p>a</p>
<%= image_tag @post.post_image, id: "sample-image" ,class: "card-img-top rounded-0 fit-image aspect-square", style: "width: 200px; height:200px"%>
<script src="assets/app.js"></script>