<div class="margin-y container">
  <div class="row justify-content-center">
    <main class="col-md-10">
      <div class="about-image-box">
        <div class="about-image" style="background-image: url(<%= asset_path 'no_image.jpg' %>);"></div>
        <div class="text-center about-image-text py-3">
          <h1>ようこそ <strong>Image la Puzzle</strong> へ！</h1>
          <p class="margin-y">
            このサイトは、投稿した画像からパズルが遊べるコミュニティサイトになります。<br>
            ゲストの方は他人の画像を使用してのパズルゲームは行えますが、<br>
            自身の画像を使用して遊ぶには会員登録が必要になります。<br>
            <br>
            ※自身が著作権を保有している画像のみを投稿することを了承の上、ご使用ください。
          </p>
        </div>
      </div>
    </main>
  </div>
</div>