<div class="padding-y about-image" style="background-image: url(<%= asset_path 'top_image.jpg' %>);">
  <div class="container d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
      <main class="col-md-10">
        <div class="relative-box">
          <div class="about-image d-none d-lg-block" style="background-image: url(<%= asset_path 'top_image.jpg' %>);"></div>
          <div class="text-center about-image-text absolute-center-box py-3">
            <%= image_tag 'logo_white.png', style: "width: 300px", class: "margin-sm-y", id: "home-logo" %>
            <p class="margin-sm-y margin-x">
              このサイトは、投稿した画像からパズルが遊べるコミュニティサイトになります。<br>
              好きな画像でパズルをプレイしてみませんか？<br>
              ゲストログインでもパズルはプレイできますので、お気軽にご利用ください。<br>
            </p>
            <% unless user_signed_in? %>
            <div class="fit-content mx-auto my-3">
              <%= link_to "ゲストでログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-primary btn-sm btn-block sign_in padding-x", method: :post %>
            </div>
            <% end %>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<div class="text-white" style="background: #4F709C">
  <div class="margin-y container">
    <div class="col-10 mx-auto text-center">
      <div class="my-4">
        <h2 class="my-4"><strong><em>Image la Puzzle</em></strong> へようこそ</h2>
        <p><strong>ゲストログイン</strong>では他人の画像を使用してのパズルゲームは行えますが、<br>
          自身の画像を使用して遊ぶ、または画像をブックマークするには会員登録が必要になります。<br>
          <br>
          ※自身が著作権を保有している画像のみを投稿することを了承の上、ご使用ください。
        </p>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="margin-y container">
    <div class="col-10 mx-auto text-center">
      <div class="my-4">
        <h2 class="my-4">パズルについて</h2>
        <p>当サイトのパズルはスライドパズルになります。<br>
          ３ｘ３から１０ｘ１０まで難易度を自由に決めてプレイすることができます。
        </p>
      </div>
      <div>
        <i class="fa-solid fa-puzzle-piece h1" style="color: #213555;"></i>
      </div>
      <div class="my-4">
        <h4 class="my-4">どこからパズルをプレイできる？</h4>
        <p>お好きな画像を選ぶと、「この画像でパズル作成」というボタンがありますので、<br>
          クリックしていただくことで、パズルをプレイすることが可能です。
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  var windowWidth = $(window).width();
  const windowSm = 991;
  if (windowWidth <= windowSm) {
    document.getElementById('home-logo').src='/assets/logo_black.png';
  } else {
    document.getElementById('home-logo').src='/assets/logo_white.png';
  }
  window.addEventListener('resize', function(){
    windowWidth = $(window).width();
    if (windowWidth <= windowSm) {
      document.getElementById('home-logo').src='/assets/logo_black.png';
    } else {
      document.getElementById('home-logo').src='/assets/logo_white.png';
    }
  });
</script>