<div class="container margin-y w-75">
  <%= render 'admin/searches/admin_search_form' %>
</div>

<div class='container'>
  <h2>管理者側：タグ一覧</h2>
  <div class="mx-auto margin-y">
    <%= render 'admin/tags/admin_tag_form', tags: @tags %>
  </div>
</div>