<div class="container margin-y w-75">
  <%= render 'admin/searches/admin_search_form' %>
</div>

<div class="container">
  <div>
    <h2>管理者側：投稿一覧</h2>
    <%= render 'admin/posts/admin_post_form', posts: @posts %>
  </div>
</div>