<div class="container margin-y w-75">
  <%= render 'admin/searches/admin_search_form' %>
</div>

<div class="container">
  <div>
    <h2>管理者側：コメント一覧</h2>
    <%= render 'admin/post_comments/admin_post_comment_form', post_comments: @post_comments %>
  </div>
</div>

<script>
  $(function(){
    $('tr[data-href]').on('click', function(){
      location.href = $(this).data('href');
    });
  });
</script>