@use '~bootstrap/scss/bootstrap';
.mouse-link {
  cursor: pointer;
}

.padding-y {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
}

.margin-x {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-y {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.padding-sm-y {
  padding-top: 5px;
  padding-bottom: 5px;
}

.margin-sm-y {
  margin-top: 10px;
  margin-bottom: 10px;
}

// フォームレイアウト用
.label-width {
  width: 250px;
}

.field-width {
  width: 200px;
}

.fit-content {
  width: fit-content;
}

//三点省略一行文
.three_dot_omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//投稿レイアウト
.fit-image {
  object-fit: cover;
  object-position: center;
}

.aspect-square{
  aspect-ratio: 1/1;
}

.hover-color:hover {
  opacity: 0.8;
}

//タグ検索
.tag_fontsize_lg {
  font-size: 1.2em;
}

.tag-bg {
  background-color: #4F709C;
  color: white;
}

.tag-bg:hover {
  background-color: rgba(79, 112, 156, 90%);
}

.tag_bg:focus.tag-bg:active {
  background-color: rgba(79, 112, 156, 75%);
}

