<div class="margin-y container">
  <div class="row">
    <main class="col-md-10 offset-md-1">
      <h2>ブックマーク一覧</h2>
      <div class="margin-y">
      <%= render "public/posts/post_item", model: @bookmarks, colsize: "3" %>
      </div>
    </main>
  </div>
</div>


<% if user_signed_in? %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>