<div class="margin-y container">
  <div class="row">
    <main class="col-md-10 offset-md-1">
      <h2>ブックマーク一覧</h2>
      <div class="margin-y">
      <% if @bookmarks.exists? %>
        <%= render "public/posts/post_item", model: @bookmarks, colsize: "3" %>
      <% else %>
        <p>ブックマークした投稿がありません</p>
      <% end %>
      </div>
      <div class="margin-y">
      <%= paginate @bookmarks, window: 1, left: 1, right: 1 %>
      </div>
    </main>
  </div>
</div>